.painter-wrapper {
  position: relative;
}

.box {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border: 1px solid #ffff00;
}

.clip-area {
  position: absolute;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px dashed #ffff00;
  cursor: move;
}

#tl, #br {
  cursor: nwse-resize;
}
#tm, #bm {
  cursor: ns-resize;
}
#tr, #bl {
  cursor: nesw-resize;
}
#ml, #mr {
  cursor: ew-resize;
}
